.toast {
  box-sizing: border-box;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 0.25em;
  position: relative;
  width: 250px;
}
.toast::after {
  content: "\00D7";
  position: absolute;
  top: 2px;
  right: 5px;
}

.toast-container {
  position: fixed;
  margin: 10px;
}

.toast-container[data-position^="top-"] {
  top: 0;
}
.toast-container[data-position^="bottom-"] {
  bottom: 0;
}
.toast-container[data-position$="-right"] {
  right: 0;
}

.toast-container[data-position$="-left"] {
  left: 0;
}
